@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titan+One&display=swap');

body {
    background-image: linear-gradient(90deg, #ffafcc, #a2d2ff);
    margin: 0;
    padding: 0;
    color: #555;
    padding-top: 80px;
    font-family: sans-serif;
    font-size: 12px;
}

/*================ HEADER ================*/

header {
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 0 4px #555;
}

div.nome-pagina {
    padding: 10px;
    width: 50%;
}

div.nome-pagina a{
    text-decoration: none;
    color: #555;
}

div.nome-pagina img {
    width: 50px;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    display: inline-block;
    position: absolute;
}

div.nome-pagina h1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 95px;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-family: 'Titan One', cursive;
    font-size: 32px;
}

div.nome-pagina h1>span {
    color: #7d5f8e;
}

.cabecalho-menu {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top:0;
}

.cabecalho-menu>img {
    width: 32px;
    position: absolute;
    right: 50px;
    top:50%;
    transform: translateY(-50%);
}

.cabecalho-menu>img:hover {
    cursor: pointer;
}

#menu-suspenso{
    position: absolute;
    background-color: #fff;
    color:#555;
    min-width: 120px;
    right: 35px;
    top: 50px;
    border-radius: 5px;
    transform: translateY(-100px);
    box-shadow: 1px 1px 4px #555;
    opacity: 1;
    transition: 0.35s ease-in-out;
}

#menu-suspenso li {
    padding: 10px;
    text-align: center;
    list-style: none;
}

#menu-suspenso li:hover {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0 0 7px #ffafcc;
}

.cabecalho-menu > img:hover ~ #menu-suspenso, #menu-suspenso:hover{
    transform: translateY(0px);
    opacity: 1;
    transition: 0.35s ease-in-out;
} 

/*====================== MAIN ========================*/

main {
    background-color: #fff;
    margin: auto;
    width: 80%;
    min-width: 900px;
    min-height: calc(95vh - 70px);
    border-radius: 10px;
    box-shadow: 0 4px 8px #555;
    padding: 35px 20px;
    box-sizing: border-box;
}

.titulo{
    text-align: center;
    padding: 10px 0 20px;
}

h2{
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.entrada-dados{
    padding: 10px 0 20px;
    text-align:center;
}

#texto-editar{
    padding: 0 30px 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
}

#formulario-cadastrar-recados input{
    border-radius: 7px;
    padding: 8px 15px;
    box-shadow: 1px 1px 4px #555;
    border: 1px solid #fff;
}

#input-descricao{
    width:30%;
    background-color: #efefef;
    color: #555;
}

#input-detalhamento{
    width: 50%;
    background-color: #efefef;
    color: #555;
}

#botao-cadastrar{
    padding: 8px;
    width: 90px;
    background-color: #009900;
    color:#fff;
}

#botao-cancelar{
    padding: 8px;
    width: 90px;
    background-color: red;
    color: #fff;
    display: none;
}

#botao-cadastrar:hover{
    cursor: pointer;
}

/*====================== TABELA ========================*/

div.informacoes{
    text-align: center;
}

div.informacoes table{
    border: 1px solid #fff;
    display: inline-block;
    width: 95%;
    border-collapse: collapse;
    position: relative;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #555;
}

tr:nth-child(even){
    background-color: #efefef;
    border-radius: 0 0 10px 10px;
}


div.informacoes th{
    height: 40px;
    border-bottom: 1px solid #999;
    background-color:#555;
    color: #fff;
}

div.informacoes tr{
    height: 40px;
}

div.informacoes td{
    border-top: 1px solid #999;
    border-radius: 0 0 10px 10px;
}

.col1 {
    width: 800px;
    border-radius: 10px 0 0 0;
    border-right: 1px solid #666;
}

.col2{
    width: 3000px;
    border-right: 1px solid #666;
}

.col3 {
    width: 5000px;
    border-right: 1px solid #666;
}

.col4 {
    width: 2000px;
    border-radius: 0 10px 0 0;
}

.editar, .excluir{
    padding: 5px 15px;
    background-color: #009900;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 4px #555;
}

.excluir{
    background-color: red;
    margin-left: 10px;
}

.editar:hover, .excluir:hover{
    cursor: pointer;
}




/* div.informacoes th, div.informacoes td{
    position:relative;
    width: 50%;
} */





